/* Mise en page */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}

/* Header */
.header {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bar {
  width: 10%;
  color: #029d5b;
}
.header-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.header-nav a {
  text-decoration: none;
  color: #029d5b;
  transition: color 0.3s ease-in-out;
}
.header-nav a:hover {
  text-decoration: underline;
  color: #026d5b;
}

/* Section banner */
#banner {
  position: relative;
}
#banner img {
  width: 100%;
  object-fit: cover;
}
#banner h1 {
  position: absolute;
  bottom: 20%;
  right: 5%;
  text-align: right;
  font-size: 4rem;
  color: white;
}
#banner span {
  color: yellow;
  font-size: 5rem;
}

/* Équipe */
#equipe {
  margin-top: 50px;
}
.equipe-title h1 {
  text-align: center;
  font-size: 3rem;
  color: #029d5b;
}
.equipe-p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.item h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.item p {
  font-size: small;
  text-align: center;
}

/* Satisfaction clients */
#satisfaction {
  background-color: #053b44;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 150px;
}
.client p {
  color: yellow;
  font-size: 2.5rem;
  font-weight: bold;
}
.client h3 {
  color: aliceblue;
}

/* Services */
.service h1 {
  text-align: center;
  font-size: 3rem;
  color: #029d5b;
}
.servico {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 768px) {
  .servico {
    flex-direction: column;
    gap: 30px;
  }
}

/* Formulaire de contact */
#contact {
  background-color: #053b44;
  padding: 50px 0;
}
#contact h1 {
  text-align: center;
  font-size: 3rem;
  color: yellow;
}
#contact p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: white;
}
input,
textarea {
  border: none;
  border-bottom: 2px solid white;
  transition: border-color 0.3s ease-in-out;
}
input:focus,
textarea:focus {
  border-bottom: 2px solid yellow;
}
.buttonsub {
  padding: 10px 20px;
  background-color: yellow;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 20px;
}

/* Footer */
.footerprojet {
  background-color: #032227;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
}
.footerprojet p {
  color: white;
  padding-left: 160px;
}
.reseaux {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
.reseaux .logofooter span {
  display: inline-block;
  border: 2px solid white;
  border-radius: 25%;
  padding: 3px;
  background-color: transparent;
}
.reseaux .logofooter i {
  font-size: 15px;
  color: white;
}
