/*Mise en page*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

/*Header*/

header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  padding-left: 30px;
  color: #029d5b;
}
.menu {
  list-style: none;
  display: flex;
}
.menu li {
  margin: 0 30px;
}
.menu a {
  text-decoration: none;
  color: #333;
}
.menu a:hover {
  text-decoration: underline;
}
.burger {
  display: none;
}

/* section banner */

#banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#banner a {
  text-decoration: none;
}
#banner p {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-top: -350px;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding: 50px;
}
#banner span {
  color: yellow;
  font-size: 5rem;
}

/*equipe*/

#equipe {
  width: 100%;
  height: auto;
}
.notre-equipe {
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  color: #029d5b;
}
.equipe-p {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 85px;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
#equipe h3 {
  text-align: center;
}

.item h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.item p {
  font-size: x-small;
  text-align: center;
}

/*Satisfaction clients*/

#satisfaction {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #053b44;
}

.client p {
  color: yellow;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 7px;
  font-weight: bold;
}
.client h3 {
  color: aliceblue;
  margin-top: 0;
}

/*Services*/

.service {
  width: 100%;
  height: auto;
}
.service-titre {
  margin-top: 50px;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  color: #029d5b;
}
.icone {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}
.icone div {
  display: flex;
  flex-direction: column;
}

.icone img {
  background-color: rgb(226, 226, 226);
  padding: 150px;
  border-radius: 20px;
  width: 400px;
  height: 400px;
}
.texte-logoservice p {
  width: 400px;
  text-align: center;
  font-size: x-large;
}
/*Formulaire*/

#contact {
  width: 100%;
  height: auto;
  background-color: #053b44;
}
#contact h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 40px;
  padding: 50px 0 0 0;
  color: yellow;
}
#contact p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  color: white;
}
.form-ligne {
  display: flex;
  gap: 80px;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input {
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  background: transparent;
  width: 100%;
  color: white;
}
form ::placeholder {
  color: #ffffff;
  font-size: 18px;
  font-family: "poppins", sans-serif;
}
textarea {
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
  padding: 0px;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 18px;
  background: transparent;
  width: 100%;
  font-family: "poppins", sans-serif;
  color: white;
}
age {
  margin-bottom: 0;
  margin-top: 200px;
}
.mail-message {
  padding-left: 200px;
  padding-right: 200px;
}

#button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 200px;
}
.buttonsub {
  padding: 10px 20px;
  background-color: yellow;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 20px;
  width: auto;
  margin-bottom: 100px;
}

/*A propos de nous*/

/* général*/

#Cnous {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 80px;
  gap: 40px;
  flex-wrap: wrap;
}

/*photo gauche*/
.photoG {
  width: 576px;
  height: auto;
}
.jasong {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/*boite de droite*/
.cellule-droite {
  width: 576px;
  height: 384px;
  border: solid 2px;
  border-radius: 20px;
  border-color: #026d5b;
}
.contenu-cellule-droite {
  width: 100%;
  height: auto;
}

/*Titre + texte dans boite*/
.titre1,
.texte1 {
  text-align: center;
  margin-top: 30px;
}
.titre1 {
  font-weight: bold;
  font-size: x-large;
}
.texte1 {
  margin-bottom: 30px;
}

/*logo et texte*/
.contenu-logo {
  display: flex;
  justify-content: space-evenly;
}
.logo-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-texte span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #053b45;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.logo-texte img {
  width: 40px;
  height: 35px;
}
.logo-texte p {
  color: #053b45;
  font-size: 12px;
  font-weight: bold;
}

/*Carousel*/

#galerie {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.article {
  text-align: center;
}
.titregalerie {
  font-size: 3rem;
  font-weight: 800;
  color: #029d5b;
  margin-bottom: 0;
}
.textegalerie {
  margin-bottom: 50px;
  font-weight: 600;
}
#carouselcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: auto;
}
.images {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.images img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boutton {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

button:hover {
  background-color: #f5f5f5;
}

/* Footer*/
footer {
  width: 100%;
  height: auto;
}

.info-section {
  width: 100%;
  height: auto;
  background-color: #0f3a40;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.info-column {
  text-align: left;
  margin-right: 20px;
  color: white;
}

.info-column h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 8px;
}

.info-column p {
  font-size: 14px;
  margin: 3px 0;
}

.info-contact {
  color: #ffffff;
}

.info-contact p {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 0;
}

.info-contact i {
  color: #c4f029;
  margin-right: 10px;
  font-size: 18px;
}

/* Ajout de flexbox pour bien aligner les éléments */
.footerprojet {
  background-color: #032227;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.copyright {
  color: white;
  text-align: left;
}

.reseaux {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.reseaux .content {
  border: 2px solid white;
  border-radius: 20%;
  background-color: transparent;
}

.reseaux i {
  padding: 5px;
  color: white;
}
/*Responsive*/

/*Phone*/
@media (max-width: 410px) {
  .icone {
    display: flex;
    align-content: center;
  }
}

@media (max-width: 1230px) {
  .burger {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    cursor: pointer;
  }
  .burger span {
    width: 30px;
    height: 4px;
    background: rgb(0, 0, 0);
    margin: 3px;
  }
  nav {
    width: 100%;
  }
  .nav-closed {
    display: none;
  }
  header {
    flex-wrap: wrap;
  }

  .menu {
    justify-content: center;
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 1050px) {
  .equipe-p {
    font-weight: 400;
  }
  .textegalerie {
    font-weight: 400;
  }

  .icone {
    flex-direction: column;
    align-items: center;
  }
  .icone img {
    display: flex;
    align-self: center;
  }
  .icone img {
    padding: 75px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
  }
  .icone-p {
    font-size: small;
  }
  #contact h1 {
    font-size: 2rem;
  }
  #contact p {
    font-size: 1rem;
  }
}

/* Bannière et header général*/

@media (max-width: 1215px) {
  header {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
  }
  .menu {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 1080px) {
  #banner p {
    font-size: 1.5rem;
    margin-top: -200px;
  }
  #banner p span {
    font-size: 2rem;
  }
  .info-container {
    flex-direction: column;
    align-items: center;
  }
  .info-column {
    text-align: center;
  }
  .footerprojet {
    flex-direction: column;
    align-items: center;
  }
  .footerprojet p {
    margin-left: 2px;
    margin-right: 2px;
  }
  .reseaux {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/*Responsive formulaire*/

@media (max-width: 750px) {
  .form-ligne {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
  }
  .mail-message {
    padding-left: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-right: 10px;
  }
  input::placeholder {
    font-size: 0.6rem;
  }
  #button-container {
    display: flex;
    justify-content: flex-start;
  }
  .buttonsub {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  textarea::placeholder {
    font-size: 0.6rem;
  }
  #banner p {
    font-size: 1rem;
    margin-top: -150px;
  }
  #banner p span {
    font-size: 1.2rem;
  }
  .footerprojet p {
    font-size: x-small;
  }
  .reseaux {
    font-size: small;
  }
}
